@charset "UTF-8";

h1 {
    font-size: 2em;
    text-align: center;
}


* {
    padding: 0;
    margin: 0;
    font-family: 'archivo', 'open sans', sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #0A769B, #49CADA);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

#cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}

#cabecalho img {
    width: 200px;
}

#formm {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    margin-top: 80px;
    height: 400px;
}

#formm input {
    border: none;
    padding-left: 10px;
    border-radius: 20px;
    margin-top: 10px;
    min-height: 30px;
    flex-basis: 100%;
}

#butao {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#butao button {
    border: none;
    width: 20%;
    height: 200%;
    background-color: #06428A;
    border-radius: 25px;
    color: aliceblue;
    min-height: 40px;
    margin-top: 20px;
}

#titlo {
    text-align: center;
    margin-top: 10%;
}

#input {
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    resize: none;
}