@charset "UTF-8";

h1 {
    font-size: 2em;
}


* {
    padding: 0;
    margin: 0;
    font-family: 'archivo', 'open sans', sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #0A769B, #49CADA);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

#formm {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    margin-top: 80px;
    height: 300px;
}

#formm input {
    border: none;
    min-width: 60px;
    padding-left: 10px;
    border-radius: 20px;
    margin-top: 10px;
}

#formm input:nth-child(1), #formm input:nth-child(7) {
    flex-basis: 60%;
}

#formm input:nth-child(2) {
    flex-basis: 37%;
}

#formm input:nth-child(3) {
    flex-basis: 49.8%;
}

#formm input:nth-child(4), #formm input:nth-child(5), #formm input:nth-child(6) {
    flex-basis: 14.78%;
}

#formm input:nth-child(8) {
    flex-basis: 37%;
}

#formm input:nth-child(9), #formm input:nth-child(10) {
    flex-basis: 48.5%;
}

#butao {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#butao button {
    border: none;
    width: 20%;
    height: 200%;
    background-color: #06428A;
    border-radius: 25px;
    color: white;
}

#titlo {
    text-align: center;
    margin-top: 10%;
}
