@charset "UTF-8";

h1 {
    font-size: 2em;
}


* {
    padding: 0;
    margin: 0;
    font-family: 'archivo', 'open sans', sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #0A769B, #49CADA);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

#cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}

#cabecalho img {
    width: 200px;
}

#corpo {
    display: flex;
    flex-direction:  column;
    align-items: center;
    height: auto;
    width: 60%;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;

}

#texto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10%;
    padding-right: 10%;
}

#log {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 60%;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    
}

#senha {
    text-align: center;
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-color: black;
    width: 200px;
    height: 30px;
}

#email {
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    border-color: black;
    width: 200px;
    height: 30px;
}

#entra {
    width: 100px;
    height: 25px;
    background-color: #06428A;
    color: white;
    border-radius: 5px;
}