@charset "UTF-8";

h1 {
    font-size: 2em;
    text-align: center;
}


* {
    padding: 0px;
    margin: 0px;
    font-family: 'archivo', 'open sans', sans-serif;
    text-indent: 20px;
}

body {
    background-image: linear-gradient(to bottom, #0A769B, #49CADA);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

#cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}

#cabecalho img {
    width: 200px;
}

#corpo {
    display: flex;
    flex-direction:  column;
    align-items: center;
    justify-content: center;
    height: 800px;
    width: 60%;
    margin: auto;
    
}

#footer {
    display: flex;
    align-items: center;
    flex-direction: column;

}

#texto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

#log {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 60%;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto; 
}

#centralizado {
    text-align: center;
    text-indent: 0px;
}